body,
html {
    height: 100%;
}

/* probando color de fondo en página de clientes. pero no me gustó
/* lo dejaré aquí por si acaso, para no olvidar la sintaxis */

body.filter-client {
    background-color: #f0f4f8;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../font/Work_Sans/static/WorkSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.container-fluid {

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.my-class {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(4, 19, 41, 0.3);
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    max-width: 1200px;
    min-height: auto;
    padding: 20px;
    margin: 40px auto;
}

.container {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.container h1 {
    font-weight: bold;
    font-size: 40px;
}

/* contenedor con la imagen de la empresa que cobra en la página de listadoDeudas */
#image-container img {
    max-width: 100px; 
    height: auto;     
}
/* .container h3{

} */
/* pagina login y registro */
.left-section {
    background-image: url('../img/MATERIAL_DE_PRUEBA/logo_tr.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #dbe9f0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-section img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.login-container {
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(4, 19, 41, 0.3);
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    max-width: 900px;
    min-height: 600px;
}

.left-section {
    width: 50%;
    height: auto;
}

.right-section {
    width: 50%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.right-section h3 {
    font-weight: bold;
}

/* CSS para pantallas medianas */
@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
    }

    .left-section {
        display: none;
    }

    .right-section {
        width: 100%;
        padding: 20px;
        box-shadow: none;
        text-align: center;
    }

    .right-section .btn {
        width: 100%;
        margin: 0 auto;
    }
}

/* CSS para pantallas más pequeñas */
@media (max-width: 576px) {
    .login-container {
        width: 100%;
        max-width: none;
        min-height: auto;
    }
    
    .left-section {
        display: none;
    }

    .right-section {
        padding: 15px;
        font-size: 14px;
        text-align: center;
        /* Ajustar el tamaño de la fuente si es necesario */
    }

    .right-section .btn {
        width: 100%;
        /* Ajusta el botón si es necesario */
        margin: 0 auto;
        /* Centra el botón si es necesario */
    }
}

/* pagina filtrado clientes */

.card-img-top {
    width: 100%;
    /* Ancho de la imagen */
    height: 100px;
    /* Altura fija para mantener las imágenes uniformes */
    object-fit: contain;
    /* Ajusta la imagen para cubrir el área sin deformarse */
    overflow: hidden;
    /* Oculta el desbordamiento */
    padding: 10px;
    background-color: #f8f9fa;

}

.card a {
    display: block;
    /* Hace que el enlace ocupe toda la tarjeta */
    text-decoration: none;
    /* Elimina el subrayado enlace */
}

.card {
    border: 1px solid #ddd;
    /* Borde de la tarjeta */
    border-radius: 5px;
    /* Bordes redondeados más sutiles */
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Añade una sombra suave para un efecto de realce */
}

/* div que muestra mensajes de error en las conexiones  */
.result {
    margin-top: 15px;
    display: none;
    color: #ff4d4d;
    background-color: #ffe6e6;
    padding: 10px;
    border: 1px solid #ffcccc;
    border-radius: 5px;
    font-weight: 400;
    font-size: large;
    text-align: center;
}

/* pagina listado deudas */
table th {
    font-weight: 600;
}

table td {
    font-weight: 400;
    /* grosor de la fuente */
}